=link_to "Login with Instagram", user_omniauth_authorize_path(:instagram)
.posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          Photocation
        .ex
          =link_to 'X', post, method: :delete
      .image.center-block
        =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
      %p.caption
        =post.caption